.avatar {
  width: 128px;
  height: 128px;
}

/* extends bootstrap styles */

.btn-primary {
  @extend .text-light;
}

// .btn:focus {
//   outline: none;
//   box-shadow: none;
//   border: 2px solid transparent;
// }

a.disabled {
  color: $btn-link-disabled-color;
  pointer-events: none;
  text-decoration: none !important;
}

// light variants of bg-color, use bg-[color]-light

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}-light", theme-color-level($color, -11));
}

@mixin button-drawer-variant($color, $color-hover: #fff) {
  color: $color;
  background-color: transparent;
  background-image: none;

  @include hover {
    background-color: $color-hover;
  }

  &.disabled,
  &:disabled {
    background-color: transparent;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $color-hover;
  }
  border: none !important;
}

@each $color, $value in $theme-colors {
  .btn-drawer-#{$color} {
    @if $color == "light" {
      @include button-drawer-variant($value, $gray-900);
    } @else {
      @include button-drawer-variant($value, $gray-100);
    }
  }
}

/* See: http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 42px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: theme-color("primary");

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
